/* footer-styles */
.footer {
    background-color: #11122b;
    color: #cbcbcb;
    font-family: "Ubuntu Condensed", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    margin-top: -4px;
}
.footer > .footer-image img{
    width: 150px;
    height: 100%;
}
.footer > .footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.footer > .footer-links a {
    font-family: "Ubuntu Condensed",sans-serif;
    text-decoration: none;
    color: #cbcbcb;
    transition: 0.5s;
}
.footer > .footer-links a:hover{
    color: #cea135;
    letter-spacing: 2px;
}
.footer > .footer-contact span {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1em;
    letter-spacing: 2px;
}
.footer > .social-media-links {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
    display: flex;
    justify-content: space-around;
}
.footer > .social-media-links a {
    font-size: 1.5em;
    color: #cbcbcb;
    transition: 0.5s;
}
.footer > .social-media-links a:hover{
    color: #cea135;
}
.footer > .copyright-wrapper {
    margin-bottom: 42px;
    font-size: 0.7em;
    color: #858585;
}